@model MiniMart.Models.Category
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}
@helper formatAmount(decimal amount)
{
    @String.Format("{0:c}", amount)
}
@{
    ViewBag.Title = "Browse";
}
<h1 id="category-header">@Model.Name</h1>
<div>
    <ul id="product-list">
        @foreach (var product in Model.Products)
        {
            <li>
                <a href="@Url.Action("Details",
                    new { id = product.Id })">
                    <img alt="@product.Name"
                         src="@product.ArtUrl" width="208" height="208" />
                    <span>@product.Name</span>
                    <span>@Truncate(@product.Description, 35)</span>
                    <span>@formatAmount(@product.Price)</span>
                </a>
                <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = product.Id })" class="btn btn-info" data-target="#loginModal" data-toggle="modal">Add To Cart</a>
            </li>
        }
    </ul>
</div>

@*Bootstrap modal pop-up*@
<div class="modal fade" id="loginModal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><b>Product has been successfully added to your cart</b></p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Continue Shopping", "Index", "Products", "", new { @class = "btn continue-shopping-btn" })
                @Html.ActionLink("View Cart & Checkout", "Index", "ShoppingCart", "", new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>

